# ==========================================
# BeeRadius Environment Variables
# ==========================================

# Database Connection (MySQL / MariaDB FreeRADIUS Database)
DATABASE_URL="mysql://radius:radius_password@mysql:3306/radius"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-generated-super-secret-key-32-chars-minimum"

# Server / Port (Optional, Default: 3000)
PORT=3000
NODE_ENV=production
